@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
 :root {
    --color1: hsl(158, 36%, 37%);
    --color2: hsl(30, 38%, 92%);
    --color3: hsl(212, 21%, 14%);
    --color4: hsl(228, 12%, 48%);
    --color5: hsl(0, 0%, 100%);
    --font1: 'Montserrat', sans-serif;
    --font2: 'Fraunces', serif;
 }
 * {
  margin: 0;
  padding: 0;
 }
 body {
  background-color: var(--color2);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
 }
 .container {
  display: flex;
  background-color: var(--color5);
  width: 600px;
  height: 450px;
  border-radius: 10px;
 }
 .container .image {
  width: 50%;
 }
 .container .image img {
  width: 100%;
  display: block;
 }
 .container .card {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
 }
 h6 {
  margin-bottom: 15px;
  padding-left: 22px;
  letter-spacing: 5px;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: normal;
 }
 h1, h2 {
  font-family: var(--font2);
  padding-left: 20px;
 }
 .container h1 {
  line-height: 32px;
  font-size: 30px;
  color: var(--color3);
 }
 .container p {
  margin: 20px;
  line-height: 19px;
  color: var(--color4);
  font-family: var(--font1);
 }
 .container h2 {
  line-height: 32px;
  font-size: 32px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: var(--color1);
 }
 .container span {
  font-family: var(--font1);
  font-size: 14px;
  text-decoration: line-through;
  font-weight: normal;
  padding-right: 32%;
 }
 .container a {
  font-family: var(--font1);
  background-color: var(--color1);
  color: var(--color5);
  border-radius: 7px;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  margin: 20px;
  padding: 10px;
  gap: 10px;
  margin-top: 50px;
 }
 .container a:hover {
  background-color: hsl(157, 37%, 31%);
  color: #fff;
  transition: 0.6s all;
 }
 .container img {
  padding-right: 5px;
 }
 .attribution {
  display: flex;
  flex-direction: column;
  background-color: var(--color5);
  font-size: 11px;
  text-align: center;
  color: black;
 }
 .attribution a {
  color:  hsl(228, 45%, 44%);
 }



 