* {
    margin: 0;
    padding: 0;
}

.game {
    margin: auto;
    width: 1000px;
    height: 467px;
    border: 1px solid black;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: top;
}

.character {
    width: 20px;
    height: 50px;
    position: relative;
    top: 359px;
}

.character img {
    width: 100px;
    height: 100px;
    position: relative;
    top: 10px;
}

.animate {
    animation: jump 500ms;
}

.block {
    width: 20px;
    height: 150px;
    background-color: red;
    position: relative;
    top: 270px;
    right: 100%;
    animation: block 1s infinite linear;
}

.block2 {
    width: 20px;
    height: 200px;
    background-color: blue;
    position: relative;
    bottom: 200px;
    right: 100%;
    animation: block 1.5s infinite linear;
}

@keyframes block {
    0%{left: 970px;}
    50%{left: 500px;}
    100%{left: -27px;}
}

@keyframes jump {
    0%{top: 150px;}
    30%{top: 100px;}
    70%{top: 100px;}
    100%{top: 150px;}
}
